body{
    background-color: darkolivegreen;
    text-align: center;
    }
    
    
    .primeiraparte{
        background-color:rgb(17, 108, 2);
        padding: 150px 100px;
    }
    
    .tituloum{
        font-size: 100px;
    }
    
    .paragrafos{
        display: inline-block;
        font-size:30px;
    }
    
    .fototurma{
        width: 750px;
        height: 700px;
    }



    footer{
    text-align: center;
    }
    
    
